@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Informações Adicionais.</p>

<address>
    <strong>Email: </strong> <a href="http://www.jonatanlunarddi@outlook.com"> Email </a>
</address>

